name: Enviar Preguntas Diarias

on:
  schedule:
    # -----------------------------------------------------------
    # HORARIO UTC (GitHub) -> HORA ESPAÑA (UTC+1)
    # 05:00 UTC = 06:00 España (Inicio)
    # 22:00 UTC = 23:00 España (Fin)
    # El '*' en medio significa "Todos los días del mes y semana"
    # -----------------------------------------------------------
    - cron: '0 5-22 * * *'
  
  workflow_dispatch:      # Mantiene el botón manual por si acaso

jobs:
  run-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Descargar Repositorio
        uses: actions/checkout@v3

      - name: Instalar Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Instalar Dependencias
        run: pip install python-dotenv requests

      - name: Ejecutar Bot
        env:
          TELEGRAM_TOKEN: ${{ secrets.TELEGRAM_TOKEN }}
          # Eliminado ADMIN_ID (ya no es necesario)
        run: python bot.pys